* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#header-nav {
  background-color: black;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list a {
  background-color: lightgrey;
  color: black;
}
#nav-list a:hover{
  background-color: #ff9933;
}

h1 {
    font-size: 1.75em;
}

section {
    background-color: #44aaff;
    border: 1px solid #000000;
    margin: 0 0 25px 0;
    padding: 0;
}

section h3 {
    font-size: 1.25em;
}

section p {
    padding: 0 6px 4px 6px;
}

